body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 20px;
  max-width: 1320px;
  width: 100%;
  display: flex;
  gap: 160px;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  gap: 160px;
  flex-direction: column;
  align-items: center;
}