.problem-wrapper {
  background-image: 
    linear-gradient(90deg, #581C87BF 75%, rgba(88, 28, 135, 0.75) 100%),
    url('../../images/problems-images.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 496px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  padding: 80px;
  gap: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 520px 520px;
}

.problem-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
}

.problem-title {
  font-size: var(--title-size-two);
  font-family: var(--font-extrabold);
}

.problem-subtitle {
  font-size: var(--subtitle-size);
  font-family: var(--font-regular);
}

.problem-link {
 display: flex;
  font-size: var(--link-size);
  font-family: var(--font-medium);
  color: var(--white);
  align-items: center;
  gap: 16px;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 12px 24px;
}

.problem-link:hover {
  background-color: rgb(107, 107, 107);
}